In [1]:
import pandas as pd

grid_size = 60

records = []
for max_lat in range(90, -90, -grid_size):
    min_lat = max_lat - grid_size
    for min_lon in range(-180, 180, grid_size):
        max_lon = min_lon + grid_size
        records.append([min_lat, max_lat, min_lon, max_lon])

df_grid = pd.DataFrame(records, columns=["min_lat", "max_lat", "min_lon", "max_lon"])
df_grid

    min_lat  max_lat  min_lon  max_lon
0        30       90     -180     -120
1        30       90     -120      -60
2        30       90      -60        0
3        30       90        0       60
4        30       90       60      120
5        30       90      120      180
6       -30       30     -180     -120
7       -30       30     -120      -60
8       -30       30      -60        0
9       -30       30        0       60
10      -30       30       60      120
11      -30       30      120      180
12      -90      -30     -180     -120
13      -90      -30     -120      -60
14      -90      -30      -60        0
15      -90      -30        0       60
16      -90      -30       60      120
17      -90      -30      120      180

In [2]:
records = []
for start_year in range(2000, 2020, 10):
    end_year = start_year + 9
    records.append([pd.to_datetime(start_year, format = "%Y"), pd.to_datetime(f"{end_year}-12-31")])
df_year = pd.DataFrame(records, columns=['start_datetime', 'end_datetime'])
df_year

  start_datetime end_datetime
0     2000-01-01   2009-12-31
1     2010-01-01   2019-12-31

In [3]:
df = pd.merge(df_grid, df_year, how='cross')
df

    min_lat  max_lat  min_lon  max_lon start_datetime end_datetime
0        30       90     -180     -120     2000-01-01   2009-12-31
1        30       90     -180     -120     2010-01-01   2019-12-31
2        30       90     -120      -60     2000-01-01   2009-12-31
3        30       90     -120      -60     2010-01-01   2019-12-31
4        30       90      -60        0     2000-01-01   2009-12-31
5        30       90      -60        0     2010-01-01   2019-12-31
6        30       90        0       60     2000-01-01   2009-12-31
7        30       90        0       60     2010-01-01   2019-12-31
8        30       90       60      120     2000-01-01   2009-12-31
9        30       90       60      120     2010-01-01   2019-12-31
10       30       90      120      180     2000-01-01   2009-12-31
11       30       90      120      180     2010-01-01   2019-12-31
12      -30       30     -180     -120     2000-01-01   2009-12-31
13      -30       30     -180     -120     2010-01-01   2019-12-31
14      -30       30     -120      -60     2000-01-01   2009-12-31
15      -30       30     -120      -60     2010-01-01   2019-12-31
16      -30       30      -60        0     2000-01-01   2009-12-31
17      -30       30      -60        0     2010-01-01   2019-12-31
18      -30       30        0       60     2000-01-01   2009-12-31
19      -30       30        0       60     2010-01-01   2019-12-31
20      -30       30       60      120     2000-01-01   2009-12-31
21      -30       30       60      120     2010-01-01   2019-12-31
22      -30       30      120      180     2000-01-01   2009-12-31
23      -30       30      120      180     2010-01-01   2019-12-31
24      -90      -30     -180     -120     2000-01-01   2009-12-31
25      -90      -30     -180     -120     2010-01-01   2019-12-31
26      -90      -30     -120      -60     2000-01-01   2009-12-31
27      -90      -30     -120      -60     2010-01-01   2019-12-31
28      -90      -30      -60        0     2000-01-01   2009-12-31
29      -90      -30      -60        0     2010-01-01   2019-12-31
30      -90      -30        0       60     2000-01-01   2009-12-31
31      -90      -30        0       60     2010-01-01   2019-12-31
32      -90      -30       60      120     2000-01-01   2009-12-31
33      -90      -30       60      120     2010-01-01   2019-12-31
34      -90      -30      120      180     2000-01-01   2009-12-31
35      -90      -30      120      180     2010-01-01   2019-12-31

In [4]:
def gen_resolution(row):
    min_lat = row["min_lat"]
    start_datetime = row["start_datetime"]
    if start_datetime >= pd.to_datetime("2010", format = "%Y"):
        if min_lat >= 0:
            return "day"
        else:
            return "month"
    else:
        if min_lat >= 0:
            return "month"
        else:
            return "year"

df["resolution"] = df.apply(gen_resolution, axis=1)
df

    min_lat  max_lat  min_lon  max_lon start_datetime end_datetime resolution
0        30       90     -180     -120     2000-01-01   2009-12-31      month
1        30       90     -180     -120     2010-01-01   2019-12-31        day
2        30       90     -120      -60     2000-01-01   2009-12-31      month
3        30       90     -120      -60     2010-01-01   2019-12-31        day
4        30       90      -60        0     2000-01-01   2009-12-31      month
5        30       90      -60        0     2010-01-01   2019-12-31        day
6        30       90        0       60     2000-01-01   2009-12-31      month
7        30       90        0       60     2010-01-01   2019-12-31        day
8        30       90       60      120     2000-01-01   2009-12-31      month
9        30       90       60      120     2010-01-01   2019-12-31        day
10       30       90      120      180     2000-01-01   2009-12-31      month
11       30       90      120      180     2010-01-01   2019-12-31        day
12      -30       30     -180     -120     2000-01-01   2009-12-31       year
13      -30       30     -180     -120     2010-01-01   2019-12-31      month
14      -30       30     -120      -60     2000-01-01   2009-12-31       year
15      -30       30     -120      -60     2010-01-01   2019-12-31      month
16      -30       30      -60        0     2000-01-01   2009-12-31       year
17      -30       30      -60        0     2010-01-01   2019-12-31      month
18      -30       30        0       60     2000-01-01   2009-12-31       year
19      -30       30        0       60     2010-01-01   2019-12-31      month
20      -30       30       60      120     2000-01-01   2009-12-31       year
21      -30       30       60      120     2010-01-01   2019-12-31      month
22      -30       30      120      180     2000-01-01   2009-12-31       year
23      -30       30      120      180     2010-01-01   2019-12-31      month
24      -90      -30     -180     -120     2000-01-01   2009-12-31       year
25      -90      -30     -180     -120     2010-01-01   2019-12-31      month
26      -90      -30     -120      -60     2000-01-01   2009-12-31       year
27      -90      -30     -120      -60     2010-01-01   2019-12-31      month
28      -90      -30      -60        0     2000-01-01   2009-12-31       year
29      -90      -30      -60        0     2010-01-01   2019-12-31      month
30      -90      -30        0       60     2000-01-01   2009-12-31       year
31      -90      -30        0       60     2010-01-01   2019-12-31      month
32      -90      -30       60      120     2000-01-01   2009-12-31       year
33      -90      -30       60      120     2010-01-01   2019-12-31      month
34      -90      -30      120      180     2000-01-01   2009-12-31       year
35      -90      -30      120      180     2010-01-01   2019-12-31      month

In [5]:
df.to_csv("user_interests.csv", index=False)