In [1]:
import pandas as pd

df_ui = pd.read_csv('user_interests.csv')
df_ui

    min_lat  max_lat  min_lon  max_lon start_datetime end_datetime resolution
0        30       90     -180     -120     2000-01-01   2009-12-31      month
1        30       90     -180     -120     2010-01-01   2019-12-31        day
2        30       90     -120      -60     2000-01-01   2009-12-31      month
3        30       90     -120      -60     2010-01-01   2019-12-31        day
4        30       90      -60        0     2000-01-01   2009-12-31      month
5        30       90      -60        0     2010-01-01   2019-12-31        day
6        30       90        0       60     2000-01-01   2009-12-31      month
7        30       90        0       60     2010-01-01   2019-12-31        day
8        30       90       60      120     2000-01-01   2009-12-31      month
9        30       90       60      120     2010-01-01   2019-12-31        day
10       30       90      120      180     2000-01-01   2009-12-31      month
11       30       90      120      180     2010-01-01   2019-12-31        day
12      -30       30     -180     -120     2000-01-01   2009-12-31       year
13      -30       30     -180     -120     2010-01-01   2019-12-31      month
14      -30       30     -120      -60     2000-01-01   2009-12-31       year
15      -30       30     -120      -60     2010-01-01   2019-12-31      month
16      -30       30      -60        0     2000-01-01   2009-12-31       year
17      -30       30      -60        0     2010-01-01   2019-12-31      month
18      -30       30        0       60     2000-01-01   2009-12-31       year
19      -30       30        0       60     2010-01-01   2019-12-31      month
20      -30       30       60      120     2000-01-01   2009-12-31       year
21      -30       30       60      120     2010-01-01   2019-12-31      month
22      -30       30      120      180     2000-01-01   2009-12-31       year
23      -30       30      120      180     2010-01-01   2019-12-31      month
24      -90      -30     -180     -120     2000-01-01   2009-12-31       year
25      -90      -30     -180     -120     2010-01-01   2019-12-31      month
26      -90      -30     -120      -60     2000-01-01   2009-12-31       year
27      -90      -30     -120      -60     2010-01-01   2019-12-31      month
28      -90      -30      -60        0     2000-01-01   2009-12-31       year
29      -90      -30      -60        0     2010-01-01   2019-12-31      month
30      -90      -30        0       60     2000-01-01   2009-12-31       year
31      -90      -30        0       60     2010-01-01   2019-12-31      month
32      -90      -30       60      120     2000-01-01   2009-12-31       year
33      -90      -30       60      120     2010-01-01   2019-12-31      month
34      -90      -30      120      180     2000-01-01   2009-12-31       year
35      -90      -30      120      180     2010-01-01   2019-12-31      month

In [2]:
def create_meta_record(row):
    new_meta_records = []
    all_resolutions = ["hour", "day", "month", "year"]
    resolution = row.resolution
    for r in range(all_resolutions.index(resolution), len(all_resolutions)):
        res = all_resolutions[r]
        new_meta_records.append([row.min_lat, row.max_lat, row.min_lon, row.max_lon, row.start_datetime, row.end_datetime, res])
    return new_meta_records


meta_records = []
for row in df_ui.itertuples():
    new_records = create_meta_record(row)
    meta_records += new_records

df_meta = pd.DataFrame(
    meta_records, columns=["min_lat", "max_lat", "min_lon", "max_lon", "start_datetime", "end_datetime", "resolution"]
)
# create dummy file name based on index
df_meta["file_name"] = df_meta.index.map(lambda x: f"file_{x}.nc")
df_meta.to_csv("metadata.csv", index=False)
df_meta

,min_lat,max_lat,min_lon,max_lon,start_datetime,end_datetime,resolution,file_name
0,30,90,-180,-120,2000-01-01,2009-12-31,month,file_0.nc
1,30,90,-180,-120,2000-01-01,2009-12-31,year,file_1.nc
2,30,90,-180,-120,2010-01-01,2019-12-31,day,file_2.nc
3,30,90,-180,-120,2010-01-01,2019-12-31,month,file_3.nc
4,30,90,-180,-120,2010-01-01,2019-12-31,year,file_4.nc
...,...,...,...,...,...,...,...,...
61,-90,-30,60,120,2010-01-01,2019-12-31,month,file_61.nc
62,-90,-30,60,120,2010-01-01,2019-12-31,year,file_62.nc
63,-90,-30,120,180,2000-01-01,2009-12-31,year,file_63.nc
64,-90,-30,120,180,2010-01-01,2019-12-31,month,file_64.nc
65,-90,-30,120,180,2010-01-01,2019-12-31,year,file_65.nc